body
{
	background: #fff;
}

header
{
	background-color: #fa4b2a;
	height: 60px;
	position: relative;
    width: 100%;
    display: block;
}
.logo
{
	height: inherit;
    position: relative;
    width: 200px;
    float: left;
}
.new-articles
{
	text-decoration: none;
	color: white;
}
.logo img
{
	width: 73%;
    height: 58%;
    position: absolute;
    top: 17%;
    left: 0%;
}
.navigation-container
{

    height: inherit;
    width: 60px;
    float: left;
    position: relative;


}
.navigation-container img
{
	height: 45%;
    width: 40%;
    position: absolute;
    top: 23%;
    left: 30%;
}
.nav-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    transform: translateX(-100%);
    background-color: #000;
    border-right: 2px solid #fa4b2a;
}

.nav-menu li a {
    padding: 8px 8px 18px 32px;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: white;
    display: block;
    transition: 0.3s;
    background-color: #222;
    border-top: 1px solid #2f2f2f;
   
}
.user
{
    height: 60px;
    line-height: 2;
}
.user img
{
    height: 38px;
    position: absolute;
    left: 7%;
    top: 2%;
}
.user div
{
    position: absolute;
    left: 28%;
    top: 3%;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
}
#remain
{
     border-left: 4px solid #fa4b2a;
}

#tech
{
    border-left: 4px solid #336;
}
#circuit
{
    border-left: 4px solid #e133dc;
}
#science
{
    border-left: 4px solid #72c9d9;
}
#entertainment
{
    border-left: 4px solid #c40027;
}
#car
{
    border-left: 4px solid #1b2377;
}
#tl
{
    border-left: 4px solid #118cf3;
}
.nav-hidden-menu{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    opacity: 0;
    transition: 0.3s;
    transform: translateX(-100%);
}
.n-article
{
	width: 80px;
    height: 50px;
    border-left: 1px solid #fff;
    float: right;
    margin: 5px 0;
}
.new-articles strong
{
	display: block;
    font-size: 35px;
    text-align: center;
    font-family: 'Roboto Condensed';
}
.new-articles em
{
	display: block;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Roboto Condensed';
}

.right-articles
{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left:100%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    background-color: white;
    border-left: 2px solid #fa4b2a;
}
.right-articles ul li a
{
    padding: 0px 8px 18px 17px;
    text-decoration: none;
    font-size: 14px;
    font-family: Serif;
    font-weight: normal;
    color: black;
    line-height: 1.1rem;
    display: block;
    transition: 0.3s;
    background-color: white;
    border-top: 1px solid white;
}

.right-articles h3
{
    height: 60px;
}
.articles-display span
{
    font-size: 0.65rem;
    color: #333;
    display: block;
    text-transform: lowercase;
    padding: 0.5rem 1rem 0 1rem;
}
.six-articles h3
{
    background: #fa4b2a;
    color: #fff;
    display: inline-block;
    margin: 1rem 1rem 0 1rem;
    padding: 0.4rem 0.25rem 0 0.25rem;
    text-transform: uppercase;
    height: 16px;
    font-size: 0.9rem;
    font-family: 'Roboto Condensed';
    font-weight: bold;
}
.right-hidden-articles
{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    opacity: 0;
    top: 0;
    right: 0;
    left:100%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    background-color: white;
    border-left: 2px solid #fa4b2a;
}
.data-analysis-content
{
	min-height: 175px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#firstcontent
{
	background-image: url("https://cdn1.vox-cdn.com/thumbor/0juISndFhByLvntRvqHssDEjrK8=/0x157:3000x1845/680x383/cdn0.vox-cdn.com/uploads/chorus_image/image/50435465/div_nrol45_l7210201650948PM63.0.0.jpg");
    position: relative;
}


#firstcontent:after
{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 177px;
    box-sizing: border-box;
    background-color: black;
    background-image: linear-gradient(135deg, #292484,#dc4225);
    opacity: 0.7;
}
#secondcontent
{
	background-image: url("https://cdn0.vox-cdn.com/thumbor/ivsHgXHY572hECkjL2fcMiZQfZs=/0x0:2039x1147/680x383/cdn0.vox-cdn.com/uploads/chorus_image/image/50439647/twitter-stock-0936.0.0.jpg");
    position: relative;
}
#secondcontent:after
{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 175px;
    box-sizing: border-box;
    background-color: black;
    background-image: linear-gradient(135deg, #002f4b,#417711);
    opacity: 0.7;
}
#thirdcontent
{
	background-image: url("https://cdn0.vox-cdn.com/thumbor/g32gnwT2lswtoOBV8-k64XNHTd0=/0x0:2039x1147/680x383/cdn0.vox-cdn.com/uploads/chorus_image/image/50434073/evga_sc17_vlad_savov.0.0.jpg");
    position: relative;
}
#thirdcontent:after
{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 175px;
    box-sizing: border-box;
    background-color: black;
    background-image: linear-gradient(135deg, #292484,#a83279);
    opacity: 0.7;
}
#fourthcontent
{
    background-image: url("https://cdn1.vox-cdn.com/thumbor/seGq1CqtJ0IUIRCH7PVFnzhf1A0=/135x37:2415x1320/680x383/cdn0.vox-cdn.com/uploads/chorus_image/image/50423161/vpavic_140716_1142_0047.0.0.jpg");
    position: relative;
}
#fourthcontent:after
{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 175px;
    box-sizing: border-box;
    background-color: black;
    background-image: linear-gradient(135deg, #d38312,#002f4b);
    opacity: 0.7;
}
.data-analysis-content a
{
	background: transparent;
	text-decoration: none;
}
.data-analysis-content h2
{
	color: white;
    font-size: 1.4em;
    font-family: 'Roboto Slab';
    z-index: 1;
    position: absolute;
    width: 90%;
    padding: 5% 0% 0% 5%;
    line-height: 1.2;
}
.author-name
{
    font-style: normal;
    font-family: Arial;
    font-size: 0.9rem;
    color: #FFF;
    position: absolute;
    left: 5%;
    top: 58%;
    z-index: 1;
    font-weight: 300;
    width: 90%;
}
.comment-count
{
    position: absolute;
    right: 0;
    font-size: 0.9rem;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    min-width: 25px;
    padding: .4rem .2rem .2rem;
    -webkit-font-smoothing: antialiased;
    line-height: .7;
    position: relative;
    float: right;
}
#first-content-comment
{
    background-color: green;
    color: #fff;
}
#second-content-comment
{
    background-color: yellow;
    color: black;
}
#third-content-comment
{
    background-color: #003555;
    color: #fff;
}
.comment-count:after
{
   content: '';
   display: block;
   width: 0;
   height: 0;
   border: 0 solid transparent;
   border-top-color: #000;
   border-width: 5px 7px 0 0px;
   position: absolute;
   top: 100%;
   right: 0;
}
.data-analysis-scroller
{
    overflow-y: hidden;
    overflow-x: scroll;
    display: inline-block;
    min-height: 175px;
    width: 100%;
   
}
.data-analysis-scroller .data-analysis-content
{
    height: 175px;
    width: 85%;
    float: left;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
